<div>
    <h1>Start attività</h1>
    <!--Invio kit dipendente-->
    <h3 class="container mx-auto">Invia kit dipendente</h3>
    <div class="container col-2">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Indirizzo email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Inserisci l'email del candidato</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div>
      <h3 class="container mx-auto">Modulo start attività</h3>
      
    </div>
</div>

