<div class="container">
    <div class="container">
        <h2> Documenti e moduli</h2>
        <p>puoi scaricare i documenti relativi ..</p>

        <div class="card" style="width: 18rem;">
            <div style="background-color: #FFD54F;" class="card-header">
                Kit dipendente
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="src\assets\02 TFR (ASS. 2020).pdf">TFR</a></li>
              <li class="list-group-item"><a href="src\assets\03 Mod Detrazioni (ASS. 2020).pdf"> Detrazioni</a></li>
              <li class="list-group-item"><a href="src\assets\Accredito bancario.pdf">Accredito bancario</a></li>
              <li class="list-group-item"><a href="src/assets/Autocertificazione casellario.pdf">Autocertificazione casellario</a></li>
              <li class="list-group-item">Autocertificazione residenza</li>
              <li class="list-group-item">Autocertificazione titolo</li>
              <li class="list-group-item">Elenco documenti</li>
              <li class="list-group-item">Trattamento integrativo</li>
            </ul>
        </div>
<!--
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Regolamento aziendale
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
        </div>
-->




    </div>


</div>