<div class="container mx-auto">
    <h1>Benvenuto in STM Italia</h1>
    <p>
        per necessità legate a... è possibile contattare la Delivery al seguente indirizzo di posta ...
        per informazioni legate al contratto è possibile contattare...
        elenco numeri/indirizzi utili
        
    </p>
    
    <div class="container mx-auto container p-5 my-5 border">
        <div class="mx-auto">
            <div class="card d-inline-flex p-2 mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contatti</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card d-inline-flex p-2 mx-auto" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Start attività</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card d-inline-flex p-2 mx-auto" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">nuovo iter</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>


</div>